.chat-container{
    position: relative;
    flex-grow: 1;
    min-width: 0;
    flex: 1.5;
    margin-left: -4px;

}

.chat__header{
    display: flex;
    justify-content: space-between;
    line-height: 1.33334;
    --saf-0: rgba(var(--sk_foreground_low,29,28,29),0.13);
    box-shadow: 0 1px 0 0 var(--saf-0);
    user-select: none;
}

.chat__header__left span{
    display: flex;
    align-items: baseline;
    font-size: 18px;

    font-weight: 900;
    margin: 10px;
}

.chat__header__right span{
    display: flex;
    
    margin: 10px;
}

/* Chat FOOTER */

.chat-footer{
    height: auto ;
    position: relative;
}


.chat-input-container{
    top: 0px;
    border-radius: 20px;
    min-width: 300px;
    width: calc(100% - 20px);
    position: relative;
}
.chat-input-container > form{
    position: relative;
    top: 0px;
    right: 10px;
    display: flex;
    width: 100%;
}
.chat-input-container > form>input{
    position: absolute;
    top: 0;
    left: 20px;
    height: 8vh;
    width: 100%;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 10px;
    outline: none;
    flex-shrink: 1;
    
}



.chat-input-container > form>button{
    display: none;
}

/* Chat body */

.message-container{
    display: flex;
    width: 100%;
    padding: 10px 20px;
    overflow-x: hidden;
    position: relative;
}

.message-container > img{
    max-height: 36px;
    max-width: 36px;
    border-radius: 8px;
    user-select: none!important;
}

.message__info{
    padding-left: 10px;
    padding-right: 20px;
    max-width: 100%;
    line-height: 1.1;
    user-select: none!important
}

.message__info .status>span{
    color: gray;
    font-weight: 400;
    font-size: 13px;
}

.message__info .status>a{
    color: black;
    font-weight: 900;
    font-size: 15px;
    text-decoration: none;
}

.message__info p.message{
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.chat-messages{
    height: 80vh;
    overflow-y: scroll;
    min-width: 0;
    width: 100%;
}

.message-container.active{
    background-color: rgba(248, 248, 248, 0.699);
}



/* RESIZER */
.resizer{
    width: 5px;
    background-color: transparent;
    z-index: 10;
    transition:all 0.3s ease;
}
.resizer:hover{
    cursor: col-resize;
    background-color: rgba(29, 155, 209, 1);
}