/* Header */
.create-channel{
    height: auto;
    max-width: 520px;
    width: 100%;
    font-size: 15px;
    padding: 20px 28px;
}

.create-channel__header{
    align-items: center;
    display: flex;
    min-height: 70px;
    
    width: 100%;
}

.create-channel__header h1{
    font-weight: 900;
    font-size: 28px;
    line-height: 1.2143;
    width: 100%;
}

.create-channel__body .c-gray-text{
    color: rgba(var(--sk_foreground_max_solid,97,96,97),1);
}

.create-channel__body .form-switch{
    padding-left: 0!important;
}

.create-channel__body .channel-type{
    display: flex!important;
    justify-content: space-between!important;
    align-items: center!important;
}

.create-channel__body .channel-type-des{
    width: 66%;
}

.create-channel__body .switch-button{
    cursor: pointer;

}
.create-channel__footer{
    display: flex;
    justify-content: flex-end;
}