.chat-details-modal{
    height: min(85vh,820px);
    flex-grow: 1;
    color: rgb(29, 28, 29);
    font-size: 15px;
}

.modal-dialog .chat-details-modal{
    max-width: 580px!important;
}
.c-modal__header{
    background-color: inherit;
    padding: 20px 28px;
    width: 100%;
}
.chat-details-modal__header{
    background-color: inherit;
    padding: 20px 28px;
    width: 100%;
    display: flex;

    flex-direction: column;
}
.chat-details-modal__header .nav-tabs{
    margin-top: 20px;
    margin-bottom: -20px;
    position: relative;
    margin-right: auto;
}
.modal-body.chat-details-modal__tabs{
    padding: 0px;
    height: auto;
}


.nav-tabs .nav-item span{
    font-size: 13px;
    line-height: 1.38463;
    font-weight: 700;
    color: rgb(97, 96, 97)
}

.nav-tabs .nav-item span:focus{
    color: rgb(29, 28, 29)

}


.c-modal__content__inner{
    width: 100%;
    height: 100%;
}

.c-modal__content{
 width: 100%;
}
/* tab */
.tab-content{
    height: 100%;
}
/* About tab */
.channel-details__about{
    padding: 20px 25px;
    background-color: rgba(29, 28, 29, 0.04);
    height: 100%;
}

.tab-content .c-tab-group{
    background-color: rgb(255, 255, 255);
    width: 100%;
    padding: 10px 20px;
    border-radius: 12px;
    border: 1px solid rgba(29, 28, 29, 0.13);
    margin-bottom: 20px;
    user-select: none;
}



.channel-details__about .input-group .input-field{
    width: 100%;
    margin-bottom: 20px;
}

.input-group__footer{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.channel-details__about .text-group{
    padding: 0px;
}

.text-group .text-field {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(29, 28, 29, 0.13);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}


.text-group .text-field__title{
    font-weight: 700;
}

.text-field.leave-button:hover{
    background-color: rgb(212, 211, 211);
}

.c-tab-group.alert .buttons-group{
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}
.c-tab-group.alert .buttons-group button{
    margin-left: 10px;
}
/* Members tab */
.channel-details__members{
    display: flex;
    flex-direction: column;
}

.channel-details__members__header{
    margin: 15px 25px;
    position: relative;
}
.channel-details__members__header .search-icon{
    position: absolute;
    bottom: 5px;
    left: 5px;
    color: rgb(114, 113, 113);
}

.channel-details__members__header input{
    padding-left: 35px;
}
/* Member */
.channel-details__members__list .member, .add-member{
    width: 100%;
    padding: 10px 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.channel-details__members__list .member__info{
    display: flex;
    align-items: center;
}

.channel-details__members__list .member:hover, .add-member:hover{
    background-color: rgba(221, 221, 221, 0.445);
}

.channel-details__members__list .member__avatar{
    height: 36px;
    width: 36px;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border-radius: 4px;
    margin-right: 10px;
    display: flex;

    align-items: center;
}

.channel-details__members__list .member__status{
    margin-left: 10px;
}

.channel-details__members__list .member__status .status{
    font-size: 13px;
    color: rgb(158, 158, 158);
}

.channel-details__members__list .member__status .status.active{
    color: rgb(1, 163, 1);
}

.channel-details__members__list .interact-button > span{
    color: rgb(18, 100, 163);
    font-size: 13px;
}

.channel-details__members__list .interact-button > span:hover{
    border-bottom: 1px solid rgb(18, 100, 163);
    z-index: 4;
}
.c-button:hover{
    background-color: rgb(209, 209, 209)!important;

}
.c-button:active{
    opacity: 0.8;
}

/*remove Alert  modal */
#removeAlertModal .modal-dialog{
    width: 500px;
}

.remove-alert-modal{
    background: rgb(240, 240, 240);
}

.remove-alert-modal .c-modal__content{
    padding: 0 28px;
}

.c-modal__footer .footer__buttons .c-button--medium{
    background: rgb(202, 202, 202);
}

.c-button--medium.danger{
    background: rgb(216, 29, 87)!important;
    color: white;
    font-weight: 900;
    margin-left: 10px;
}

.c-modal__content__inner
/* Setting tab */
.channel-details__setting{
    padding: 20px 25px;
    background-color: rgba(29, 28, 29, 0.04);
    height: 100%;
}

.channel-details__setting .type-icon{
    margin-right: 5px;
}

.channel-details__setting .c-tab-group:hover{
    background-color: rgb(212, 211, 211);
}

.c-tab-group.button-delete{
    color: rgb(190, 8, 8);
}

/* User edit page */
.c-modal__header .user__avatar{
    width: 72px;
    height: 72px;
    background-size: cover;
    background-position: 50%;
    border-radius: 10px;
    margin-right: 20px;
}

.c-modal__header .user-display{
    display: flex;
    width: 100%;
    align-items: center;
}
/* About user tab */
.c-tab-group__inner{
    padding: 16px 20px;
    user-select: text;
}
.c-tab-group__inner .text-line{
    display: flex;
}
.text-line .text-line__icon{
    margin-right: 10px;
}
.c-tab-group__inner button{
    margin-top: 20px;
    color: rgba(18,100,163,1);
    font-weight: 700;
}
.c-tab-group__inner button:hover{
    text-decoration: underline;
}