.c-modal-dialog{
    max-width: 700px!important;
    font-family:'Lato','appleLogo',sans-serif;
}
.c-modal-content{
    max-width: 700px!important;
}

.c-modal__header{
    display: flex;
    align-items: center;
    border-radius: 8px 8px 0 0;
    flex-shrink: 0;
    min-height: 70px;
    overflow: hidden;
    width: 100%;
}

.c-modal__header__title{
    align-items: center;
    display: flex;
    min-height: 70px;
    padding: 20px 28px;
    width: 100%;
    padding-right: 76px;
}

.c-modal__header__title h1 .text{
    font-size: 22px;
    line-height: 1.36365;
    font-weight: 900;
}

.c-modal__body__section{
    padding: 0 28px;
}

.c-modal__body__columns{

    display: flex;
}

.c-modal__body{
   
}

.c-input-field{
    padding: 20px;
    padding-left: 0;
}

.c-input-field label, .c-profile-photo-field label{
    line-height: 1.46666667;
    font-weight: 700;
}

.c-profile-photo-field{
    padding: 20px;
}

.c-input-field .input-container{
    margin-bottom: 20px;
}

.photo-input{
    display: flex;
    flex-direction: column;
}

input[type='file'].photo-input{
    opacity: 0;
    
}

span.upload-button{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.c-modal__footer{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.c-button--medium{
    font-size: 15px!important;
    height: 36px !important;
    min-width: 80px;
    padding: 0 12px 1px !important;
    font-weight: 700!important;
    border: 1px solid rgb(190, 189, 189)!important;
    border-radius: 5px;
}

.c-modal__header .notification{
    margin-right: 50px;
}