@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');
.loading-container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center
}

.loading__content{
    display: flex;
}
.loading__content h1{
    font-family: 'Open Sans', -apple-system, 'Segoe UI', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: hsl(0, 0%, 13%);
    box-sizing: border-box;
}

.loading__content .dots {
    display: inline-flex;
    position: relative;
    align-items: flex-end;
    padding-bottom: 15px;
}

.loading__content .dot{
    display: inline-block;
    width: 10px;
    height: 10px;
    background: hsl(0, 0%, 13%);
    border-radius: 10px;
    position: relative;
    margin-left: 6px;
}
.dot.z.animate{
    animation: scale .8s .2s forwards;
}
.dot.f.animate,.dot.s.animate{
    animation: right .5s forwards;
}
.dot.l.animate{
    animation: rightDown .4s .1s forwards linear, drop 2s .4s forwards linear;
}



.dot.z{
    position: absolute;
    transform: scale(0);
    
}
@keyframes scale {
    100% {
    transform: scale(1);
}}

.dot.f,.dot.s{
    transform: translateX(0px);
    
}

@keyframes right {
    100% {
      transform: translateX(16px);
    }
}

.dot.t{
    background: transparent;

}

.dot.l{
    margin-left: 0;
    position: absolute;
    right: 0px;
    bottom: 15px;
   
}

@keyframes rightDown {

    50% {
      bottom: 6px;
      right: -16px;
    }

    100% {
      bottom: -2px;
      right: -24px;
    }
  }

  @keyframes drop {
    100% {
      transform: translate(120px, calc(35px + (100vh/2)));
    }
  }